/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 2000px;
}

/* Navbar + Logo */
.navbar {
  background: #ffa500;
  color: #fff;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  padding: 8px 12px;
  border-radius: 4px;
}

.nav-links li a:hover {
  color: #f1c40f;
}

/* Icons */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icons img {
  width: 22px;
  cursor: pointer;
}

/* close button */
.close-btn {
  display: none;
}

.nav-icons .icons-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 25px;
  width: 100%;
}

.menu-toggle {
  display: none;
  margin-left: 10px;
  font-size: 22px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Akhir Navbar + Logo */

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    background: #2c3e50;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 80px 20px;
    transition: right 0.3s ease;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 2000;
  }

  .nav-links.active {
    right: 0;
  }

  .menu-toggle {
    display: block;
  }
}
