/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2de05ff;
}

/* Navbar + Logo */
.navbar {
  background: transparent;
  position: fixed;
  backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px 0;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  padding: 8px 12px;
  border-radius: 4px;
}

.nav-links li a:hover {
  color: #f1c40f;
}

/* Icons */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icons img {
  width: 22px;
  cursor: pointer;
}

/* close button */
.close-btn {
  display: none;
}

.nav-icons .icons-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 25px;
  width: 100%;
}

.menu-toggle {
  display: none;
  margin-left: 10px;
  font-size: 22px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* button login  */
.btn-rush {
  margin-top: -10px;
  background-color: #fff;
  color: #000;
  text-shadow: 2px 2px 4px rgba(224, 196, 12, 0.95);
  padding: 8px 16px;
  border: 3px solid white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-out {
  background-color: #e01111ff;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(224, 196, 12, 0.95);
  padding: 8px 16px;
  border: 3px solid white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* Akhir Navbar + Logo */

/* login.html */

.navbar .btn-login {
  background: #fff;
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.navbar .btn-login a {
  color: #000;
  text-decoration: none;
}

.btn-login:hover {
  background: #f1c40f;
}

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  height: calc(100vh - 80px);
  background-image: url("../img/beranda/bg1.png");
  background-size: cover;
}
.auth-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}
.auth-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #666;
}
.auth-subtitle {
  font-size: 14px;
  margin-bottom: 25px;
  color: #888;
}
.input-field {
  margin-bottom: 20px;
  text-align: left;
}
.input-field label {
  font-size: 14px;
  color: #555;
}
.input-field input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.auth-card .card-action {
  margin-top: 20px;
  font-size: 14px;
}
.auth-card .card-action a {
  color: #1e2da9;
  text-decoration: none;
}

/* akhir login.html */

/* header hero section */
.hero {
  background-image: url("../img/beranda/bg1.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 120px 5% 60px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-text h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ccc;
}

.hero-text p {
  max-width: 500px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn-primary {
  background: linear-gradient(90deg, #007bff, #00c6ff);
  color: #fff;
  padding: 14px 35px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #0056b3, #007bff);
}

.hero-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* akhir */

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    background: rgba(160, 160, 155, 0.9);
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 80px 20px;
    transition: right 0.3s ease;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 2000;
  }

  .nav-links.active {
    right: 0;
  }

  .menu-toggle {
    display: block;
  }

  /* hero section header */
  .hero-container {
    grid-template-columns: 1fr !important;
    text-align: center;
  }

  .hero-text {
    max-width: 100% !important;
    margin: 0 auto 20px auto;
    padding: 0 15px;
  }

  .hero-image {
    display: flex;
    justify-content: center;
  }

  .hero-image img {
    max-width: 220px;
    height: auto;
  }
  /* akhir hero section */
}
